.task-management {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.task-input {
    display: flex;
    margin-bottom: 20px;
}

.task-input input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.task-input button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.task-board {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.task-column {
    flex: 1;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 15px;
    height: 550px;
    position: relative;
    display: flex;
    flex-direction:column;
    gap:10px;
}

.task-column-heading{
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #585858;
}

.task-column-body{
    height: 90%;
    overflow-y: auto;
    scrollbar-width: none;
}


.task-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    cursor: move;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.task-item:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

